* {
  margin: 0px;
  padding: 0px;
}

textarea {
 border: none;
  outline: none;
}



pre{
    background-color: #FFFFFF66;
    padding: 10px;
    border-radius: 5px;
}

#preview img{
    width: 50%;
}



::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background-color: #ffffff88; /* Background color of the scrollbar track */
}

::-webkit-scrollbar-thumb {
  background-color: #4cb8c4; /* Color of the scrollbar thumb (the draggable part) */
  border-radius: 6px; /* Rounded corners of the scrollbar thumb */
  cursor: pointer;
}

::-webkit-scrollbar-thumb:hover {
  background-color: #555; /* Color of the scrollbar thumb on hover */
  
}


