* {
  margin: 0px;
  padding: 0px;
}

textarea {
 border: none;
  outline: none;
}


pre {
    background-color: #FFFFFF66;
    padding: 10px;
    border-radius: 5px;
    margin:10px 0px !important;
}

#preview img{
    width: 50%;
}

table{
  margin: 20px 0px;
}

code {
  background-color: #FFFFFF66;
  padding: 3px 5px;
  border-radius: 5px;
}

pre code {
  background-color: transparent;
  padding: auto;
}

table td{
  border: 2px solid;
  border-width: 2px;
  padding: 2px 10px;
}

table th{
  border: 2px solid black;
  border-width: 2px;
  color: white;
  background-color: black;
  padding: 2px 10px;
}


::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background-color: #ffffff88; /* Background color of the scrollbar track */
}

::-webkit-scrollbar-thumb {
  background-color: #4cb8c4; /* Color of the scrollbar thumb (the draggable part) */
  border-radius: 6px; /* Rounded corners of the scrollbar thumb */
  cursor: pointer;
}

::-webkit-scrollbar-thumb:hover {
  background-color: #555; /* Color of the scrollbar thumb on hover */
  
}


@media screen and (max-width:700px) {
  #root>div{
    /* display: grid !important;
    grid-template-columns: repeat(1,1fr); */
  }
}